@model TutorGet.Models.Booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cancel Booking</h2>

<h4>Are you sure you want to cancel this lesson?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutor.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Cancel" class="btn btn-default" /> |
            @Html.ActionLink("Back to Booking Calendar", "Index")
        </div>
    }
</div>
