@model IEnumerable<TutorGet.Models.Tutor>

@{
    ViewBag.Title = "Tutor List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tutor List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Language.LanguageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Language.LanguageName)
            </td>
            <td>
                @if (User.IsInRole("admin"))
                {
                 <span>
                 <a href="@Url.Action("Edit", "Tutors", new { id = item.Id })" class="glyphicon glyphicon-edit" aria-label="Edit">
                 </a> |
                 <a href="@Url.Action("Delete", "Tutors", new { id = item.Id })" class="glyphicon glyphicon-trash" aria-label="Delete">
                 </a>
                 </span>
                }
                else
                {
                <span>
                <a href="@Url.Action("Create", "Bookings", new { id = item.Id })" class="glyphicon glyphicon-plus-sign" aria-label="Edit">
                </a> @*|
                <a href="@Url.Action("Delete", "Tutors", new { id = item.Id })" class="glyphicon glyphicon-envelope" aria-label="Delete">
                </a>*@
                </span>
                }
                </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts {

    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

}

<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
